@model List<HelpOn.Dominio.Models.Chamado>

       
    
    
        @foreach (var chamado in Model)
        {
            
            
            <tr>
                <td>@chamado.Descricao.Nome</td>
                <td>
                    @if (chamado.Processo == "Aberto")
                    {
                        <button onclick="IDChamado.value = @chamado.IDChamado" type="button" 
                                class="btn btn-success" data-toggle="modal" data-target="#myModal">
                            @chamado.Processo
                        </button>
                    }
                    else if (chamado.Processo == "Em Processo")
                    {
                        <button onclick="IDChamado.value = @chamado.IDChamado" type="button"
                                class="btn btn-warning " data-toggle="modal" data-target="#myModal">
                            @chamado.Processo
                        </button>
                    }
                    else
                    {
                        <button onclick="IDChamado.value = @chamado.IDChamado" type="button"
                                class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            @chamado.Processo
                        </button>
                    }
                    
                </td>
                <td>@chamado.IDUnidade</td>
                <td>@chamado.NumeroAndar</td>
                <td>@chamado.NumeroLab</td>
                <td>
                    @if (chamado.IDNivel == 2)
                    {
                        @:HelpDesk
                    }
                    else if(chamado.IDNivel == 3)
                    {
                        @:Monitor
                    }
                </td>
            </tr>
            
        
    }

