@model HelpOn.Web.ViewModel.ChamadoViewModel
@{
    ViewBag.Title = "Laboratorio";
}

<h2>Laboratorio</h2>


<div id="botoes">
    @foreach (var descricao in Model.Descricoes)
    {
        if ((descricao.IDDescricao % 2) == 1)
        {
            <div style="float:left;width:49%">
                <button class="btn btn-custom btn-lg btn-block" float="left" data-toggle="modal" data-target="#myModal">@descricao.Nome</button>
            </div>
        }
        else
        {
            <div style="float:right;width:49%">
                <button class="btn btn-custom btn-lg btn-block" float="right" data-toggle="modal" data-target="#myModal">@descricao.Nome</button>
            </div>
        }

    }
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span><button>
                        <h4 class="modal-title" id="myModalLabel">Atenção!</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Cadastrar", "Chamado", "POST"))
                {
                    @Html.HiddenFor(c => c.IDDescricao)
                    @Html.HiddenFor(c => c.Processo, new { @Value = "Aberto" })
                    @Html.HiddenFor(c => c.NumeroLab, new { @Value = Model.Lab.NumeroLab })
                    @Html.HiddenFor(c => c.NumeroAndar, new { @Value = Model.Lab.NumeroAndar })
                    @Html.HiddenFor(c => c.IDUnidade, new { @Value = Model.Lab.IDUnidade })
                    @Html.HiddenFor(c => c.DataChamado, new { @Value = DateTime.Now })
                    @Html.HiddenFor(c => c.IDNivel, new { @Value = 1 })

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-custom">Enviar Solicitação</button>
                }
            </div>
        </div>
    </div>
</div>





@section scripts{
 <script>
     $().ready(function () {

                  $("#botoes button").click(function () {
                  if ($(this).html() == "Solicitar Monitor") {
                  $("#IDDescricao").val(1);
                  $(".modal-body").html("Deseja Realmente solicitar um Monitor?");
             } else
                  if ($(this).html() == "Bloquear Internet") {
                      $("#IDDescricao").val(2);
                      $(".modal-body").html("Deseja realmente solicitar o bloqueio da Internet no Laboratório?");
             } else
                      if ($(this).html() == "Liberar Internet") {
                          $("#IDDescricao").val(3);
                          $(".modal-body").html("Deseja realmente solicitar a liberação da Internet no Laboratório?");
             } else
                          if ($(this).html() == "Bloquear HD Público") {
                              $("#IDDescricao").val(4);
                              $(".modal-body").html("Deseja realmente solicitar o bloqueio do HD Público no Laboratório?");
             } else
                              if ($(this).html() == "Liberar HD Público") {
                                  $("#IDDescricao").val(5);
                                  $(".modal-body").html("Deseja realmente solicitar a liberação do HD Público no Laboratório?");
             } else
                                  if ($(this).html() == "Bloquear Portal do Aluno") {
                                      $("#IDDescricao").val(6);
                                      $(".modal-body").html("Deseja realmente solicitar o bloqueio do Portal do Aluno no Laboratório?");
             } else
                                      if ($(this).html() == "Liberar Portal do Aluno") {
                                          $("#IDDescricao").val(7);
                                          $(".modal-body").html("Deseja realmente solicitar a liberação do Portal do Aluno no Laboratório?");
             } else
                                          if ($(this).html() == "Alterar °C Ar Condicionado") {
                                              $("#IDDescricao").val(8);
                                              $(".modal-body").html("Deseja realmente solicitar a alteração de Temperatura do Ar Condicionado no Laboratório?");
             }
         });
      });
</script>
}