@model HelpOn.Web.ViewModel.ChamadoViewModel

@{
    ViewBag.Title = "Laboratório";
}

<h2>Solicitações de Laboratório</h2>


<section id="botoes" style="height:220px">
    @foreach (var descricao in Model.Descricoes)
    {
        if ((descricao.IDDescricao % 2) == 1)
        {
            <div style="float:left;width:49%;height:50px">
                <button class="btn btn-custom btn-lg btn-block" float="left" data-toggle="modal" data-target="#myModal">@descricao.Nome</button>
            </div>

        }
        else
        {
            <div style="float:right;width:49%;height:50px">
                <button class="btn btn-custom btn-lg btn-block" float="right" data-toggle="modal" data-target="#myModal">@descricao.Nome</button>
            </div>

        }

    }
</section>



<div class="table-responsive" >
    <div class="panel panel-default">
        <div class="panel-heading">
            Lista de Solicitações - Laboratório @Model.Lab.NumeroLab
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Chamado</td>
                    <td>Status</td>
                    <td>Unidade</td>
                    <td>Andar</td>
                    <td>Laboratorio</td>
                </tr>
            </thead>
            <tbody id="tabela">
                @Html.Partial("ListarSolicitacoes", Model.Chamados)
            </tbody>
        </table>
    </div>

    
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Atenção!</h4>
            </div>
            <div class="modal-body">
                <p>Deseja Realmente Enviar esta Solicitação?</p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Cadastrar", "Chamado", "POST"))
                {
                    @Html.HiddenFor(c => c.IDDescricao)
                    @Html.HiddenFor(c => c.Processo, new { @Value = "Aberto" })
                    @Html.HiddenFor(c => c.NumeroLab, new { @Value = Model.Lab.NumeroLab })
                    @Html.HiddenFor(c => c.NumeroAndar, new { @Value = Model.Lab.NumeroAndar })
                    @Html.HiddenFor(c => c.IDUnidade, new { @Value = Model.Lab.IDUnidade })
                    @Html.HiddenFor(c => c.DataChamado, new { @Value = DateTime.Now })
                    @Html.HiddenFor(c => c.IDNivel)


                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-custom">Enviar Solicitação</button>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function atualizarTabela() {
            $.ajax(
            {
                type: 'GET',
                url: "/Laboratorio/ListarSolicitacoes",
                
                success: function (data) {
                    $("#tabela").html(data);
                }
            });
            
        }


        $().ready(function () {
                
           setInterval(atualizarTabela, 5000);

            $.ajax({
                url: "http://localhost:64222/Laboratorio/GetDescricao",
                type: "GET",
                success: function (data) {
                    $.each(data, function (index, des) {
                        $("#botoes button").click(function () {
                            if ($(this).html() == des.descricao) {
                                $("#IDDescricao").val(des.id);                                
                                $(".modal-title").html("Atenção - " + des.descricao);
                                if (des.id == 1) {
                                    $("#IDNivel").val(3);
                                } else {
                                    $("#IDNivel").val(2);
                                }
                            }
                        });
                    });
                }
            });
        });
    </script>
}